/*
TODO(you): Write any additional styles you need here.
*/
#music {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#gif-display {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.gif-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#foreground {
  z-index: 1;
}

.swap #background {
  z-index: 2;
}

#music footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}

#music footer img {
  width: 60px;
  height: 60px;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #e2e2e2;
  font-size: 2em;
  font-style: italic;
}
