/* TODO(you): Write the CSS to finish the assignment! */

.choice-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.choice-grid div {
  box-sizing: border-box;
  width: 32.5%;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
}

.choice-grid div img {
  width: 100%;
}

.choice-grid div {
  margin: 20px 0;
}

.choice-grid div.chosen {
  background-color: #cfe3ff;
}

.choice-grid div.unchosen {
  opacity: 0.6;
}

@media (max-width: 700px) {
  article {
    width: 95%;
  }
  header div {
    display: none;
  }
}

@media (max-width: 500px) {
  .choice-grid div {
    width: 49%;
  }
}

.result {
  margin: 20px 0;
  padding: 20px;
}

.result h1 {
  font-size: 28px;
  margin: 0px;
}

.result p {
  margin: 18px 0;
  line-height: 30px;
}

.result button {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #cecece;
  font-size: 20px;
  font-weight: bold;
}

.result button:hover {
  background-color: #e0e0e0;
}

.result {
  display: none;
}
